/* my_presets *//* michael-k90 *//* endzeit_____ */
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.m1-form input.field::-webkit-input-placeholder {color: #757575; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #757575; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #757575; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #757575; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.clearfix:after, .char li:after {content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}
.ulfix {font-size: 0;}
/* END my_presets */

h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', Helvetica, sans-serif; font-weight: 700; text-transform: uppercase;line-height: 1.2em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #333333;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0;
}
.wrap{
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
.nopad {
    padding: 0;
}
.m1-form input.field {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    padding: 0 20px 0 50px;
    background:#fff;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.m1-form input.field[name="name"] {
    background:#fff url(../img/name.png) no-repeat 15px center;
}
.m1-form input.field[name="phone"] {
    background:#fff url(../img/phone.png) no-repeat 15px center;
}
.button-m{
    position: relative;
    display: block;
    width: 300px;
    height: 68px;
    line-height: 68px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 1.1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #640c2d;
    background: rgb(255,179,0);
    background: -moz-linear-gradient(top, rgba(255,179,0,1) 1%, rgba(255,140,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,179,0,1) 1%,rgba(255,140,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,179,0,1) 1%,rgba(255,140,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb300', endColorstr='#ff8c00',GradientType=0 );
    -webkit-box-shadow: 0 5px 0 0 #f27201;
    box-shadow: 0 5px 0 0 #f27201;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button-m:hover{
    background: rgb(255,181,9);
    background: -moz-linear-gradient(top, rgba(255,181,9,1) 1%, rgba(255,144,9,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,181,9,1) 1%,rgba(255,144,9,1) 100%);
    background: linear-gradient(to bottom, rgba(255,181,9,1) 1%,rgba(255,144,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb509', endColorstr='#ff9009',GradientType=0 );
}
.button-m:active{
    top:2px;
     -webkit-box-shadow: 0 3px 0 0 #f27201;
    box-shadow: 0 3px 0 0 #f27201;
}
.m1-form {
    width: 300px;
    margin: 0 auto;
}
.m1-form .button-m{
    width: 100%;
}
h2.title{
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 46px;
}
h2.title>span{
    color: #f058b1;
}
.price {
    width: 300px;
    margin: 0 auto 10px;
    text-transform: uppercase;
    position: relative;
}
.price:before {
    content:'';
    display: block;
    width: 0;
	height: 0;
	border-top: 32px solid transparent;
	border-left: 20px solid #fff;
	border-bottom: 32px solid transparent;
    position: absolute;
    top:0;
    left: 140px;
}
.old-cost {
    float: left;
    background: #fff;
    text-align: right;
    width: 140px;
    padding-right: 17px;
}
.old-cost p {
    font-size: 24px;
    line-height: 20px;
}
.old-cost p span {
    text-decoration: line-through;
}
.old-cost > span, .new-cost > span {
    font-size: 12px;
    line-height: 12px;
}
.new-cost {
    float: right;
    background: #b32162;
    font-weight: 700;
    color:#fff;
    width: 160px;
    padding-left: 36px;
}
.new-cost p {
    font-size: 24px;
    line-height: 20px;
}
.new-cost, .old-cost  {
    height: 64px;
    padding-top: 7px;
}
.old-cost p small, .new-cost p small {
    font-size: .8em;
}

/* Arrows */
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 22px;
    display: block;
    width: 22px;
    height: 38px;
    padding: 0;    
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../img/arrow.png) no-repeat center center;
    z-index: 3;
}
.slick-prev{
    left: 270px;
}
.slick-next{
    right: 270px;
    -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

@media screen and (max-width: 976px) {
    .wrap{
        width: 640px;
    }
}
@media screen and (max-width: 659px) {
    .wrap{
        width: 320px;
    }
    
}